@font-face{font-family:'ekibastus-original-black';src:url('/fonts/ekibastus-original/Ekibastuz_Black.otf');font-weight:normal;font-style:normal;}
@font-face{font-family:'ekibastus-original-heavy';src:url('/fonts/ekibastus-original/Ekibastuz_Heavy.otf');font-weight:normal;font-style:normal;}
@font-face{font-family:'ekibastus-original-extraBlack';src:url('/fonts/ekibastus-original/Ekibastuz_ExtraBlack.otf');font-weight:normal;font-style:normal;}
@font-face{font-family:'ekibastus-original-bold';src:url('/fonts/ekibastus-original/Ekibastuz_Bold.otf');font-weight:normal;font-style:normal;}
@font-face{font-family:'ekibastus-original-regular';src:url('/fonts/ekibastus-original/Ekibastuz_Regular.otf');font-weight:normal;font-style:normal;}
@font-face{font-family:'ekibastus-original-light';src:url('/fonts/ekibastus-original/Ekibastuz_Light.otf');font-weight:normal;font-style:normal;}
html, body{padding:0;margin:0;height:100%;font-family:'ekibastus-original-regular', sans-serif;text-transform:uppercase;}
body{background:#000 url("/images/bg.jpg") no-repeat top center fixed;}
body.modal-open {
    overflow: visible;
    margin-right: 0 !important;
}

body.modal-open #page-wrapper .container {
    position: relative;
    right: -9px;
}

a:focus, a:hover {outline: none;color: #000;text-decoration: underline}
input:focus {outline: none;}
button:focus {outline: none;}
button:hover {text-decoration: underline;}
#page-wrapper{min-height:100%;height:auto !important;height:100%;padding:0;margin:0 0 -75px 0;}
strong{font-family:'ekibastus-original-black', sans-serif;}
#header .top{padding:10px 0;}
#header .top > div{min-height:54px;text-align:center;}
#header .top .logo{color:transparent;-webkit-transition:all 0.5s ease-out 0.1s;-moz-transition:all 0.5s ease-out 0.1s;-o-transition:all 0.5s ease-out 0.1s;transition:all 0.5s ease-out 0.1s;display:block;}
#header .top .logo img{display:inline-block;width: 179px;}
#header .top .logo .vertical-line{display:inline-block;margin:0;width:35px;-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-webkit-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg);border-top:3px solid #77e1ff;-webkit-transition:all 0.5s ease-out 0.1s;-moz-transition:all 0.5s ease-out 0.1s;-o-transition:all 0.5s ease-out 0.1s;transition:all 0.5s ease-out 0.1s;}
#header .top .logo span{display:inline-block;font-size:14px;color:#77e1ff;text-align:center;position:relative;top:15px;-webkit-transition:all 0.5s ease-out 0.1s;-moz-transition:all 0.5s ease-out 0.1s;-o-transition:all 0.5s ease-out 0.1s;transition:all 0.5s ease-out 0.1s;}
#header .top .logo:hover span{color:#fff;}
#header .top .logo:hover .vertical-line{border-top:3px solid #fff;}
#header .top .call-number{color:#ffbc00;font-size:17px;display:block;font-family: 'ekibastus-original-black', sans-serif;text-align: center;padding-top: 17px;}
#header .top .call-number i{color:#fff;font-size:14px;font-style: normal;text-transform: none;font-family: 'ekibastus-original-regular', sans-serif;}
#header .top .menu-title{color:#fff;font-size:15px;text-align:center;}
#header .top nav.registration-menu{color:#ffbc00;border-bottom:1px solid #ffbc00;width:150px;text-align:center;padding-top:28px;;margin:0 auto;}
#header .top nav.registration-menu a{color:#ffbc00;-webkit-transition:all 0.5s ease-out 0.1s;-moz-transition:all 0.5s ease-out 0.1s;-o-transition:all 0.5s ease-out 0.1s;transition:all 0.5s ease-out 0.1s;}
#header .top nav.registration-menu a:hover{color:#fff;text-decoration:none;}
#header #user-account{text-transform:none;font-size:12px;text-align:left;}
#header #user-account .call-number i {margin-left: -3px;}
#header #user-account .user-info p a {color: #ffff00;}
#header #user-account .vip {text-transform:uppercase;text-align:left;color: #ffff00;font-family: 'ekibastus-original-bold', sans-serif;font-style: normal;font-size: 14px;}
#header #user-account .account {text-align:right; padding-right: 0; padding-left: 0; padding-top: 10px}
#header #user-account > div > div {
    float: right;
}
#header #user-account > div > div.userpic {
    margin-right: 10px;
}
#header #user-account > div > div p{
    color: #bcbec0;
    margin: 0;
    padding: 0 0 9px 0;
    text-align: left;
    line-height: 10px;
}
#header #user-account .take-prizes {
    color:#77e1ff;
    padding-right: 0;
}

#header #user-account .take-prizes p {
    text-align: right;
    margin-bottom: 0;
}

#header #user-account .take-prizes a {
    text-decoration: underline;
}
#header #user-account .take-prizes a:hover {
    text-decoration: none;
}
#header #user-account .links a {
    font-size: 12px;
}
#header #user-account .get-money{text-decoration:none !important;background:#ffff00;display:block;width:142px;text-align:center;color:#000000;font-family:'ekibastus-original-heavy', sans-serif;text-transform:uppercase;margin:11px 0 6px 0;font-size:12px;padding: 5px 0;float: right;}
#header #user-account .get-money:hover{text-decoration: underline !important;}
#header #user-account p span{font-size:14px;color:#ffff00;}
#header #user-account p a{color:#77e1ff;}
#header #user-account .user-balance{display:inline-block;}
#header #user-account .user-balance i{font-style: normal}
#header .banners{margin-bottom:25px;}
#header .banners img{width:100%;max-width:100%;}
.menu ul{list-style:none;padding:0;}
.menu ul li{float:left;display:block;background:#242a2b;background:-moz-linear-gradient(top, #242a2b 0%, #07151d 63%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#242a2b), color-stop(63%,#07151d));background:-webkit-linear-gradient(top, #242a2b 0%,#07151d 63%);background:-o-linear-gradient(top, #242a2b 0%,#07151d 63%);background:-ms-linear-gradient(top, #242a2b 0%,#07151d 63%);background:linear-gradient(to bottom, #242a2b 0%,#07151d 63%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#242a2b', endColorstr='#07151d',GradientType=0);border-bottom:5px solid #0a67a3;}
.menu ul li:first-child a{border-left:none;}
.menu ul li:last-child a{border-right:none;}
.menu ul li.active-page{background:#0a67a3;}
.menu ul li a.home{text-indent:-9999px;background-image:url("/images/icons/home-icon.png");background-repeat:no-repeat;background-position:center center;padding:0;width:58px;height:50px;}
.menu ul li a{font-family:"ekibastus-original-black", sans-serif;font-size:14px;color:#fff;display:block;padding:15px 25px;-webkit-transition:all 0.5s ease-out 0.1s;-moz-transition:all 0.5s ease-out 0.1s;-o-transition:all 0.5s ease-out 0.1s;transition:all 0.5s ease-out 0.1s;border-left:1px solid #000000;border-right:1px solid #333c41;}
.menu ul li a:hover{background:#0a67a3;}
.menu ul li a.home:hover{background-image:url("/images/icons/home-icon.png");background-repeat:no-repeat;background-position:center center;}
body.inner .tournaments{margin-top:0;margin-bottom:15px;}
.tournaments{margin-top:25px;margin-bottom:15px;}
.tournaments h1.title {font-family:'ekibastus-original-black', sans-serif;text-align:left;color:#ffdd00;padding-left:15px;margin:0 0 25px 0;}
.tournaments .super { margin-bottom: 25px;}
.tournaments .super .title{margin:0;font-family:'ekibastus-original-black', sans-serif;font-size:23px;color:#000;background:#ffbc00;padding:5px 25px;text-align: center}
.tournaments .super .game-wrapper{background-size:100% auto;background-repeat:no-repeat;min-height:350px;}
.tournaments .super .scl {width: 186px;height: 341px;position: absolute;}
.tournaments .super .scl.left-column-info {left: 15px;}
.tournaments .super .scl.left-column-info .game-title{font-family:'ekibastus-original-black', sans-serif;font-size:25px;text-align: center;width: 80%;border-bottom: 1px solid #fff;display: block;margin: 10px auto;}
.tournaments .super .scl.left-column-info .game-title a {color:#fff; text-decoration: none}
.tournaments .super .scl.left-column-info > a {position: absolute;bottom: 30px;width: 80%;left: 20%;margin-left: -10%;}
.tournaments .super .scl.right-column-info .timer .flip-clock-wrapper {height: 31px;padding: 10px 0;overflow: hidden;}
.tournaments .super .scl.right-column-info h3 {color: #fff;text-align: center;}
.tournaments .super .scl.right-column-info {right: 15px;padding: 0 1%;}
.tournaments .super .scl.right-column-info .start-info{font-family:'ekibastus-original-light', sans-serif;font-size:12px;color:#ffbc00;text-align:center;padding:25px 0;margin-bottom: 10px;}
.tournaments .super .scl.right-column-info .start-info strong{font-size:16px;}
.tournaments .super .scl.right-column-info > a {color: #fff;text-transform: uppercase;font-size: 16px;font-family:'ekibastus-original-light', sans-serif;}
.tournaments .timer i {padding: 10px 5px; font-size: 9px}
.tournaments .timer {
    margin: 40px 0 10px 0;
}
.tournaments .timer .flip-clock-wrapper ul {
    width: 13px;
}
.tournaments .timer .flip-clock-wrapper ul li a div div.inn {font-size: 18px;}
.tournaments .timer .flip-clock-divider {
    width: 7px;
}
.tournaments .timer .flip-clock-dot {
    width: 2px;
    height: 2px;
    left: 2px;
}

.tournaments .timer .flip-clock-dot.top {
    top: 8px;
}
.tournaments .timer .flip-clock-dot.bottom {
    bottom: 8px;
}
.timer{padding:10px 5px;font-size:25px;text-align:center;font-family:'ekibastus-original-black', sans-serif;margin:20px 0 10px 0;}
.timer i{font-size:9px;font-style:normal;line-height:10px;display:inline-block;color: #fff;}
.timer-wrap{background:#ffbc00;display:inline-block;}
.timer {
    font-family: 'ekibastus-original-bold', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    background: #ffbc00;
    text-align: center;
    padding: 0;
}
.timer i {
    line-height: 12px;
    color: #000;
    border-right: 1px solid #000;
    padding: 10px;
    font-size: 10px;
    text-align: center;
    display: inline-block;
}

aside .timer i {
    padding-left: 0;
    margin-right: 10px;
}

.timer .flip-clock-wrapper {
    height: 22px;
}
.timer .flip-clock-wrapper ul {
    width: 17px;
    height: 23px;
}
.timer .flip-clock-wrapper ul li a div div.inn {
    font-size: 24px;
}

.tournaments .super .game-wrapper a{color:#ffbc00;text-align:center;text-decoration:underline;display:block;position: relative;}
.tournaments .super .game-wrapper a.all-prizes {width: 60%;position: absolute;left: 40%;margin-left: -20%;color: #fff;bottom: 10px;height: 50%;line-height: 350px;}
.tournaments-inner .super .game-wrapper a.all-prizes {line-height: 325px;}
.tournaments .super .game-wrapper .game-info{background:rgba(0, 0, 0, 0.7);min-height:350px;padding:25px;}
.tournaments .speed{position:relative;}
.tournaments .speed .title{margin:0;font-family:'ekibastus-original-black', sans-serif;font-size:25px;color:#fff;background:#0a67a3;padding:0px 25px;text-align: center}
.tournaments .speed .item{padding-left:0;padding-right:0;min-height:350px;position:relative;border-right: 1px solid rgba(0,0,0,0);}
.tournaments .speed .item img{width:100%;height:auto;border-bottom: 1px solid #000}
.tournaments .speed .item > div{background:rgba(0,0,0,0.7);}
.tournaments .speed .item .caption{padding:15px 25px;border-top: 1px solid #27343b;}
.tournaments .speed .item .caption h3{font-size:24px;font-family:'ekibastus-original-black', sans-serif;padding-bottom:10px;margin-top: 9px; text-align: center}
.tournaments .speed .item .caption h4{font-size:18px;font-family:'ekibastus-original-black', sans-serif;padding-bottom:10px;text-align: center;color: #fff;}
.tournaments .speed .item .caption h4 i{font-size:14px; font-style: normal; font-family:'ekibastus-original-light', sans-serif;}
.tournaments .speed .item .caption h3 a{color:#fff;-webkit-transition:all 0.5s ease-out 0.1s;-moz-transition:all 0.5s ease-out 0.1s;-o-transition:all 0.5s ease-out 0.1s;transition:all 0.5s ease-out 0.1s;border-bottom:1px solid #fff;display:block;padding-bottom:15px;}
.tournaments .speed .item .caption h3 a:hover{text-decoration:none;color:#ffbc00;}
.tournaments .speed .item .caption .main-prize {color: #ffbc00;}
.tournaments .speed .item .caption .main-prize i {color: #fff;}
.tournaments .speed .item .caption a.all-prizes{text-align:center;font-size:15px;color:#fff;font-family:'ekibastus-original-light', sans-serif;display:block;text-shadow: none;}
.tournaments .speed .item .caption .go-to-game {background: #ffbc00; color: #000;font-family:'ekibastus-original-black', sans-serif;text-align: center;display: block;padding: 5px 0;font-size: 18px;line-height: 18px;margin: 5px 0}
.tournaments .speed .item .activated{background:#0f0f0f;color:#fff;font-family:'ekibastus-original-black', sans-serif;font-size:13px;padding:5px 10px;position:absolute;top:0;left:0;font-style:normal;text-shadow:none;}
.tournaments .mobile-super {background: rgba(0,0,0,0.5)}
.tournaments .mobile-super .title{margin:0;font-family:'ekibastus-original-black', sans-serif;font-size:25px;color:#000;background:#ffbc00;padding:0px 25px;text-align: center}
.tournaments .mobile-super .game-title{font-family:'ekibastus-original-black', sans-serif;color:#fff;font-size:28px;text-align: center;width: 80%;border-bottom: 1px solid #fff;display: block;margin: 10px auto;}
.tournaments .mobile-super .start-info{font-family:'ekibastus-original-light', sans-serif;font-size:12px;color:#ffbc00;text-align:center;padding:25px 0;}
.tournaments .mobile-super .start-info strong {font-size:16px;}
.tournaments .mobile-super a {display: block;text-align: center;color: #fff;padding: 5px 0;}
.tournaments .mobile-super a.all-prizes {color:#ffbc00}
.other-games{margin:0 0 15px 0;}
.other-games .title{margin:0;font-family:'ekibastus-original-black', sans-serif;font-size:23px;color:#fff;background:#0a67a3;padding:4px 25px;text-align: center}
.other-games >.col-xs-12{padding:0;}
.other-games >.col-xs-12 > div{padding:0;min-height:350px;position:relative;border-right: 1px solid rgba(0,0,0,0);}
.other-games >.col-xs-12 > div img{width:100%;height:auto;border-bottom: 1px solid #000}
.other-games >.col-xs-12 > div .caption{padding:15px 25px;border-top: 1px solid #27343b;background: rgba(0,0,0,0.7);}
.other-games >.col-xs-12 > div .caption h4{font-size:30px;font-family:'ekibastus-original-black', sans-serif;padding-bottom:10px;min-height:115px;}
.other-games >.col-xs-12 > div .caption h4 a{color:#fff;-webkit-transition:all 0.5s ease-out 0.1s;-moz-transition:all 0.5s ease-out 0.1s;-o-transition:all 0.5s ease-out 0.1s;transition:all 0.5s ease-out 0.1s;border-bottom:1px solid #fff;display:block;padding-bottom:15px;}
.other-games >.col-xs-12 > div .caption h4 a:hover{text-decoration:none;color:#ffbc00;}
.other-games >.col-xs-12 > div .caption a.all-prizes{text-align:center;position:absolute;bottom:22px;font-size:12px;color:#fff;font-family:'ekibastus-original-light', sans-serif;text-transform:uppercase;}
.other-games >.col-xs-12 > div .soon-label{background:#0a67a3;color:#fff;font-family:'ekibastus-original-heavy', sans-serif;font-size:13px;padding:5px 10px;position:absolute;top:0;left:0;font-style:normal;letter-spacing: 1px;}
.other-games .free{background:#ffbc00;color:#000;font-family:'ekibastus-original-heavy', sans-serif;font-size:13px;padding:5px 10px;position:absolute;top:0;left:0;font-style:normal;text-shadow:none;text-transform:uppercase;}
.other-games .activated{background:#0f0f0f;color:#fff;font-family:'ekibastus-original-black', sans-serif;font-size:13px;padding:5px 10px;position:absolute;top:0;left:0;font-style:normal;text-shadow:none;text-transform:uppercase;}
.other-games.soon >.col-xs-12 > div .caption h4{min-height:auto;color:#fff;text-align: center;font-size: 24px;border-bottom: 1px solid #fff;}
.other-games.soon >.col-xs-12 > div{min-height:auto;}
.bottom-push, .footer{padding-top:0;padding-bottom:0;margin:0 auto;height:75px;}
.footer{background:#ffbc00;padding-left:25px;padding-right:25px;height:75px;min-height:75px;}
.footer .partners-links{padding-top:15px;}
.copyrights{font-size:11px;color:#000;padding-top:5px;padding-bottom:0;margin:0;}
.our-socials,
.footer-menu{padding-top:30px;}
.our-socials a{width:25px;height:25px;display:inline-block;background:url("/images/icons/footer-social-icons.jpg") no-repeat;text-indent:-9999px;}
.our-socials a.vk{background-position:0 0;}
.our-socials a.ok{background-position:-29px 0;}
.our-socials a.mail{background-position:-58px 0;}
.our-socials a.tw{background-position:-87px 0;}
.our-socials a.gg{background-position:-115px 0;}
.our-socials a.fb{background-position:-144px 0;}
.our-socials a.ya{background-position:-173px 0;}
.our-socials .soc-text {
    font-family: 'ekibastus-original-black', sans-serif;
    text-align: center;
    display: inline-block;
    color: #000;
    height: 40px;
    margin-right: 5px;
}
.our-socials .soc-icons {
    display: inline-block;
    position: relative;
    top: -15px;
}
.footer-menu a{display:inline-block;font-size:14px;text-transform:capitalize;text-decoration:underline;color:#000;-webkit-transition:all 0.5s ease-out 0.1s;-moz-transition:all 0.5s ease-out 0.1s;-o-transition:all 0.5s ease-out 0.1s;transition:all 0.5s ease-out 0.1s;}
.footer-menu a:hover{text-decoration:none;color:#0a67a3;}
.page-content{color:#fff;margin: 0 0 25px 0;text-transform:none;text-shadow:0 0 1px rgba(0,0,0,0.75);position:relative;}
.page-content h1,
.page-content h2,
.page-content h3,
.page-content h4,
.page-content h5,
.page-content h6{font-family:'ekibastus-original-black', sans-serif;text-transform:uppercase;text-align:center;}
.page-content h1{font-family:'ekibastus-original-heavy', sans-serif;text-align:left;color:#ffdd00;margin-top: 0}
#top10Results > h3 > button {background: transparent; border: none}
#top10Results > h3 > button > i {color: #ffdd00}
.table-striped{text-align:center; vertical-align: middle}
.table-striped>tbody>tr:nth-of-type(odd){background-color:#171717;color:#fff;}
.table-striped>tbody>tr:nth-of-type(even){background-color:#0f0f0f;color:#fff;}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{border-top:none;text-align:center;vertical-align: middle;}
.table>thead>tr>th{border-bottom:none;font-family:'ekibastus-original-black', sans-serif;text-shadow:0 0 2px rgba(0, 0, 0, 0.75);color:#939598;}
.user-statistics .table>thead>tr>th{color:#fff;}
.modal .error-message {color: #ff0000;text-align: center;padding-top: 5px;font-family: 'ekibastus-original-bold', sans-serif;}
.modal-content{background:#000;-webkit-box-shadow:0 0 3px rgba(255, 255, 255, 0.5);-moz-box-shadow:0 0 3px rgba(255, 255, 255, 0.5);box-shadow:0 0 3px rgba(255, 255, 255, 0.5);border-radius:0;}
.modal-header{border-bottom:none;text-align:center;font-family:'ekibastus-original-black', sans-serif;color:#ffff00;padding-bottom:0px;}
.modal-header .close{position:absolute;top:0;right:5px;margin-top:0;color:#fff;opacity:1;}
.modal-content p{color:#fff;text-align:center;text-transform:none;}
.modal-header h4{font-size:24px;}
.modal-body{padding:0 30px 30px;}
.modal-body .social-enter{text-align:center;}
.modal-body .social-enter .menu-title{font-size:11px;color:#fff;}
.modal-body form label{color:#fff;font-size:12px;text-transform: none;}
.modal-body form .form-group{margin:25px 0;}
.form-group.has-error input{border: 1px solid #ff0000 !important}
.form-group.has-success input{border: 1px solid greenyellow !important}
.form-validate p.error {color: #ff2919;}
.modal-body form .form-group input,.modal-body form .form-group input[type="password"] {border-radius:0;background:#1c1c1e;border:none;-webkit-box-shadow:inset 0 0 5px rgba(0,0,0,0.5);-moz-box-shadow:inset 0 0 5px rgba(0,0,0,0.5);box-shadow:inset 0 0 5px rgba(0,0,0,0.5);color:#fff;}
.modal-body form input[type="checkbox"]{margin-top:1px;}
.modal-body form input[type='submit'],
.modal-body form button{background:#ffd256;background:-moz-linear-gradient(top, #ffd256 0%, #ffbc00 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd256), color-stop(100%,#ffbc00));background:-webkit-linear-gradient(top, #ffd256 0%,#ffbc00 100%);background:-o-linear-gradient(top, #ffd256 0%,#ffbc00 100%);background:-ms-linear-gradient(top, #ffd256 0%,#ffbc00 100%);background:linear-gradient(to bottom, #ffd256 0%,#ffbc00 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd256', endColorstr='#ffbc00',GradientType=0); font-family: 'ekibastus-original-black', sans-serif;font-size: 24px;color: #000;border: none;padding: 10px 15px;margin: 10px 0;text-decoration: none; text-transform: none;}
.modal-body form input[type='submit']:hover,
.modal-body form button:hover {
    outline: none;
    color: #000;
    text-decoration: underline;
}
#activation .modal-body {text-align: center;color: #fff;}
#sign-in .checkbox,
#sign-in .modal-body form button,
#sign-in .modal-body form input[type='submit']{display:inline-block;}
#sign-in .modal-body form button,
#sign-in .modal-body form input[type='submit']{width:auto;float:right;}
#activation p{color:#fff;text-align:center;font-family:'ekibastus-original-bold', sans-serif;padding:20px 0;font-size:14px;}
#activation p span{font-size:16px;font-family:'ekibastus-original-heavy', sans-serif;}
#success-activation .modal-content{background:#0a99d5;}
#success-activation .modal-content .modal-body{padding:0 30px;}
#success-activation .modal-content p{color:#fff;text-align:center;font-size:18px;text-transform:none;padding:10px 0;}
/*TODO: Удалить вместе с шаблоном, если потребуется.
#prizes table{width:75%;margin-left:auto;margin-right:auto;}
#prizes .table>thead>tr>th{color:#939598;font-family:'ekibastus-original-bold', sans-serif;}
#prizes .table-striped>tbody>tr{background-color:transparent;}
#prizes .table>tbody>tr>td:first-child{width:19px;padding:8px 0;}
#prizes .table>tbody>tr:nth-of-type(even)>td:first-child{background:#161616;}
#prizes .table>tbody>tr:nth-of-type(odd)>td:first-child{background:#0f0f0f;}*/
#tournament-table h5{color:#0a99d5;font-size:18px;font-family:'ekibastus-original-black',sans-serif;text-align:center;}
.timer .flip-clock-wrapper{width:auto;margin:0;height:20px;}
aside .timer .flip-clock-wrapper{width:auto;  margin: 11px 0px;height: 9px;}
.timer .flip-clock-label{display:none;}
.timer .flip-clock-wrapper ul li a div div.inn{background:#ffbc00;box-shadow:none;font-size:25px;color:#000;font-family:'ekibastus-original-black', sans-serif;text-shadow:none;}
.timer .flip-clock-wrapper .flip{box-shadow:none;}
.timer .flip-clock-wrapper ul{margin:0;padding:0;width:15px;background:transparent;font-size:25px;font-weight:inherit;line-height:0;}
.timer .flip-clock-wrapper ul li{height:25px;line-height:25px;}
.timer .flip-clock-divider{width:15px;height:25px;}
.timer .flip-clock-dot{width:5px;height:5px;-webkit-box-shadow:none;border-radius:0;background:#000;}
.timer .flip-clock-dot.top{top:5px;}
.timer .flip-clock-dot.bottom{bottom:5px;}
.timer .flip-clock-wrapper ul li a div.up:after{content:"";position:absolute;top:44px;left:0;z-index:5;width:100%;height:3px;background-color:transparent;}
.timer .flip-clock-wrapper ul.play li.flip-clock-before .up .shadow{background:transparent;}
.timer .flip-clock-wrapper ul.play li.flip-clock-active .up .shadow{background:transparent;}
.timer .flip-clock-wrapper ul.play li.flip-clock-before .down .shadow{background:transparent;}
.timer .flip-clock-wrapper ul.play li.flip-clock-active .down .shadow{background:transparent;}
.countdown .flip-clock-wrapper{width:235px;margin:0;}
.countdown .flip-clock-wrapper ul li a div div.inn{background:#fff;box-shadow:none;font-size:25px;color:#414042;font-family:'ekibastus-original-bold', sans-serif;text-shadow:none;}
.countdown .flip-clock-wrapper ul li a div.up{background:#f1f1f2;border-radius:6px 6px 0 0;-moz-border-radius:6px 6px 0 0;-webkit-border-radius:6px 6px 0 0;-ms-border-radius:6px 6px 0 0;-o-border-radius:6px 6px 0 0;}
.countdown .flip-clock-wrapper ul{margin:0 2px;padding:0;width:25px;background:transparent;font-size:25px;font-weight:inherit;line-height:0;}
.countdown .flip-clock-wrapper ul li{height:32px;line-height:32px;}
.countdown .flip-clock-wrapper .flip{box-shadow:none;}
.countdown .flip-clock-divider{width:15px;height:32px;}
.countdown .flip-clock-dot{width:3px;height:3px;-webkit-box-shadow:none;border-radius:0;background:#fff;}
.countdown .flip-clock-dot.top{top:10px;}
.countdown .flip-clock-dot.bottom{bottom:10px;}
.countdown .flip-clock-wrapper ul{height:32px;}
.countdown .flip-clock-divider .flip-clock-label{position:absolute;bottom:-16px;left:0;top:inherit;}
.countdown .flip-clock-divider.minutes .flip-clock-label,
.countdown .flip-clock-divider.seconds .flip-clock-label{right:-74px;}
.game-page h1{text-align:left;color:#ffdd00;padding-left:0;margin:0 0 10px 0;}
.game-page .socials{text-align: center}
.game-section > div{padding:0;}
.game-section > aside{padding:0 15px;background:rgba(0, 0, 0, 0.70);min-height:535px;position:relative;left:1px;}
.game-page #flashContent{overflow:hidden;border:1px solid #0a0b16;-webkit-box-shadow:0 0 0 1px #fff, inset 0 0 0 1px #001731;-moz-box-shadow:0 0 0 1px #fff, inset 0 0 0 1px #001731;box-shadow:0 0 0 1px #fff, inset 0 0 0 1px #001731;height:534px;}
.game-page #flashContent embed{position: relative;top: -3px;}
.game-section > aside h2{font-family:'ekibastus-original-light', sans-serif;color:#ffdd00;border-bottom:1px solid #ffdd00;font-size:14px;margin:20px 0;padding-bottom:20px;}
.game-section > aside h2 span{font-size:18px;}
.game-section > aside .table{font-size: 13px; color:#939598;font-family:'ekibastus-original-light', sans-serif;text-align:center;margin-bottom:5px;}
.game-section > aside .table>thead>tr>th{font-weight:normal;font-family:'ekibastus-original-light', sans-serif;text-align:center;}
.game-section > aside .table>tbody>tr>td,
.game-section > aside .table>tbody>tr>th,
.game-section > aside .table>tfoot>tr>td,
.game-section > aside .table>tfoot>tr>th,
.game-section > aside .table>thead>tr>td,
.game-section > aside .table>thead>tr>th{padding:2px;}
.game-section > aside .table>tbody>tr.current-user{background:#ffdd00;color:#000;font-family:'ekibastus-original-black', sans-serif;text-shadow:none;}
.game-section > aside a{text-align:center;display:block;text-decoration:underline;font-size:14px;color: #fff}
.game-section > aside a:hover{text-decoration:none;}
.game-section > aside a.t-rules{font-size:14px;color:#72c8ff;margin: 15px 0}
.game-section > aside a.activate{border-radius:0;background:#ffd256;background:-moz-linear-gradient(top, #ffd256 0%, #ffbc00 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd256), color-stop(100%,#ffbc00));background:-webkit-linear-gradient(top, #ffd256 0%,#ffbc00 100%);background:-o-linear-gradient(top, #ffd256 0%,#ffbc00 100%);background:-ms-linear-gradient(top, #ffd256 0%,#ffbc00 100%);background:linear-gradient(to bottom, #ffd256 0%,#ffbc00 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd256', endColorstr='#ffbc00',GradientType=0);width:100%;font-family:'ekibastus-original-black', sans-serif;font-size:24px;color:#000;border:none;padding:10px 0;margin:10px 0;text-decoration:none;}
.game-section > aside a.activate:hover{background:#ffd256;}
.game-section > aside a.all-prizes{color:#fff;text-transform:uppercase;}
.game-page .repost{text-align:center;margin:30px 0 0 0;}
.game-page .repost p{font-size:18px;color:#fff;padding:0 90px;}
.game-page .repost p span{color:#ffdd00;}
.game-page .replace-flash-banner{background:#252525;display:table;padding:10px 25px;}
.game-page .replace-flash-banner p{display:table-cell;text-align:center;vertical-align:middle;font-family:'ekibastus-original-light', sans-serif;color:#fff;text-transform:uppercase;font-size:18px;}
.game-page .prizes {
    margin: 0 0 20px 0;
    border-bottom: 4px solid #ffdd00;
    padding-bottom: 20px;

}

.game-page .prizes .prizes-wrap > div {
    background: rgba(0, 0, 0, 0.75);
    height: 40px;
}

.game-page .prizes h4 {
    text-align: left;
    font-family: 'ekibastus-original-regular', sans-serif;
}

.game-page .prizes .hidden-place {
    display: none;
}

.game-page .prizes .place {
    width: 30%;
    display: block;
    float: left;
    font-size: 20px;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    border-right: 1px solid #27343b;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    border-top: 1px solid #27343b;
    height: 40px;
    line-height: 40px;
}

.game-page .prizes .place.first-place {
    text-indent: -9999px;
    background: url("/images/medals_1.png") no-repeat center center;
}
.game-page .prizes .place.second-place {
    text-indent: -9999px;
    background: url("/images/medals_2.png") no-repeat center center;
}
.game-page .prizes .place.third-place {
    text-indent: -9999px;
    background: url("/images/medals_3.png") no-repeat center center;
}

.game-page .prizes .prize {
    width: 70%;
    display: block;
    float: left;
    font-size: 20px;
    text-align: center;
    color: #e5f785;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    border-left: 1px solid #000;
    border-right: 1px solid #27343b;
    padding: 0 5px;
    border-bottom: 1px solid #000;
    border-top: 1px solid #27343b;
    height: 40px;
    line-height: 40px;
}

.game-page .prizes .more-prizes {
    color: #fff;
    font-size: 16px;
    text-align: center;
    display: block;
    margin-top: 10px;
    font-family: 'ekibastus-original-regular', sans-serif;
}

#tournament-getter.form-control{width:inherit;}
#tournament-getter-label{padding:6px 12px;text-align:right;}
.news-and-blog{margin-bottom:30px;}
.sort{position:absolute;right:0;top:0;}
.sort a{height:37px;color:#000;display:block;float:left;font-size:20px;line-height:39px;padding:0 3px;}
.sort a:hover, .sort a.active{color:#0a99d5;}
.page-content .sort a{color:#ffdd00;}
.page-content .sort a.active{color:#0a99d5;}
.news-and-blog h5, .all-news, .all-blog{margin:0;font-family:'ekibastus-original-black', sans-serif;font-size: 23px;padding: 5px 25px;}
.news-and-blog .news{padding-right:0;position:relative;}
.news-and-blog .blog{padding-left:0;}
.news-and-blog .news h5 {padding: 7px 25px 8px 25px;}
.news-and-blog .news h5, .all-news{background:#ffbc00;color:#000;}
.news-and-blog .blog h5 {background:#0a67a3;padding: 7px 25px 8px 25px;}
.news-and-blog .news h5 a {color: #000}
.news-and-blog .blog h5 a{color:#fff;}
.news-and-blog .news .news-post{padding:15px;background:rgba(0, 0, 0, 0.6);}
.news-and-blog .news .news-post .title{margin:5px 0;}
.news-and-blog .news .news-post .title a{color:#ffbc00;font-size:16px;font-family:'ekibastus-original-black', sans-serif;}
.news-and-blog .news .news-post .title a img{float:left;width:50px;height:50px;margin:0 10px 0 0;}
.news-and-blog .news .news-post .news-date{font-size:12px;font-family:'ekibastus-original-light', sans-serif;color:lightgray; text-shadow: none !important}
.news-and-blog .news .news-post .anons {min-height: 50px}
.news-and-blog .news .news-post p{color:#fff;font-size:13px;text-transform:none;text-shadow:none;}
.news-and-blog .news .news-post > a{text-align:right;color:#ffbc00;display:block;border-bottom:1px solid #fff;padding-bottom:15px;}
.all-news{display:block;font-size:20px;position: relative;top: -4px;}
.news-and-blog .blog .blog-post{padding:0;}
.news-and-blog .blog .blog-post:nth-of-type(odd){background:rgba(10,103,163,0.7);}
.news-and-blog .blog .blog-post:nth-of-type(even){background:rgba(3,66,106,0.7);}
.news-and-blog .blog .blog-post a{display:block;}
.news-and-blog .blog .blog-post a img{width:100%;height:auto;}
.news-and-blog .blog .blog-post .caption{padding:14px 25px;}
.news-and-blog .blog .blog-post .caption .title{font-size:30px;font-family:'ekibastus-original-black', sans-serif;padding-bottom:10px;min-height:125px;}
.news-and-blog .blog .blog-post .caption p{font-size:14px;text-transform:none;color:#fff;min-height:166px;}
.news-and-blog .blog .blog-post .caption .title a{color:#fff;-webkit-transition:all 0.5s ease-out 0.1s;-moz-transition:all 0.5s ease-out 0.1s;-o-transition:all 0.5s ease-out 0.1s;transition:all 0.5s ease-out 0.1s;border-bottom:1px solid #fff;display:block;padding-bottom:15px;}
.news-and-blog .blog .blog-post .caption > a{text-align:center;font-size:24px;color:#fff;font-family:'ekibastus-original-black', sans-serif;display:block;-webkit-transition:all 0.5s ease-out 0.1s;-moz-transition:all 0.5s ease-out 0.1s;-o-transition:all 0.5s ease-out 0.1s;transition:all 0.5s ease-out 0.1s;}
.news-and-blog .blog .blog-post .caption .title a:hover,.news-and-blog .blog .blog-post .caption > a:hover{text-decoration:none;color:#ffbc00;}
.all-blog{background:#03426a;display:block;font-size:24px;text-align:center;padding:2px 15px;color:#fff;margin-top:-1px;font-family:ekibastus-original-bold, sans-serif;}
.all-blog:hover{color:#fff;text-decoration:underline;}
.all-news:hover{text-decoration:underline;}
.news-archive .news-post{padding:15px;}
.news-archive .news-post .title{margin:5px 0;text-align:left;}
.news-archive .news-post .title a{color:#ffbc00;font-size:16px;font-family:'ekibastus-original-black', sans-serif;text-align:left;}
.news-archive .news-post .title a img{float:left;width:90px;height:90px;margin:0 10px 0 0;}
.news-archive .news-post .news-date{font-size:12px;font-family:'ekibastus-original-light', sans-serif;color:lightgray; text-shadow: none !important}
.news-archive .news-post .anons p{color:#fff;font-size:13px;font-family:'ekibastus-original-bold', sans-serif;text-transform:none;text-shadow:none; display: inline-block}
.news-archive .news-post .anons a{color:#ffbc00 !important; display: inline-block}
.single-news .image-thumb{width:100%;height:300px;-webkit-background-size:cover;background-size:cover;background-position:center center;}
.single-news .image-thumb img{display:none;}
.single-blog .image-thumb{width:100%;height:300px;-webkit-background-size:cover;background-size:cover;background-position:center center;}
.single-blog .image-thumb img{display:none;}
.single-blog .content a,.single-news .content a{color: #ffbc00 !important;}
.post-thumbnail {
    float: left;
    margin: 0 20px 20px 0;
}
.breadcrumb{background:transparent;border-radius:0;margin-bottom: 0;}
.page-content .breadcrumb{padding-left: 0;}
.breadcrumb>li{color:#fff;font-size:14px;text-transform: none;}
.breadcrumb>.active{color:#ffdd00;}
.breadcrumb>li>a{color:#fff;}
.breadcrumb>li+li:before{padding:0;color:#ccc;content:normal;}
.blog-archive .blog-post{padding:0;}
.blog-archive .blog-post:nth-of-type(odd){background:#0a67a3;}
.blog-archive .blog-post:nth-of-type(even){background:#03426a;}
.blog-archive .blog-post a{display:block;}
.blog-archive .blog-post a img{width:100%;height:auto;}
.blog-archive .blog-post .caption{padding:15px 25px;}
.blog-archive .blog-post .caption .title{font-size:30px;font-family:'ekibastus-original-black', sans-serif;padding-bottom:10px;min-height:125px;}
.blog-archive .blog-post .caption p{font-size:14px;text-transform:none;color:#fff;min-height:120px !important;}
.blog-archive .blog-post .caption .title a{color:#fff;-webkit-transition:all 0.5s ease-out 0.1s;-moz-transition:all 0.5s ease-out 0.1s;-o-transition:all 0.5s ease-out 0.1s;transition:all 0.5s ease-out 0.1s;border-bottom:1px solid #fff;display:block;padding-bottom:15px;}
.blog-archive .blog-post .caption > a{text-align:center;font-size:24px;color:#fff;font-family:'ekibastus-original-black', sans-serif;display:block;-webkit-transition:all 0.5s ease-out 0.1s;-moz-transition:all 0.5s ease-out 0.1s;-o-transition:all 0.5s ease-out 0.1s;transition:all 0.5s ease-out 0.1s;}
.blog-archive .blog-post .caption .title a:hover,.blog-archive .blog-post .caption > a:hover{text-decoration:none;color:#ffbc00;}
.comments{margin-bottom:30px;}
.comments .denined-comments{background:#0f0f0f;padding:30px;border:1px solid #ffdd00;margin-top:30px;}
.comments .denined-comments p{color:#fff;text-align:center;}
.comments .denined-comments p a{color:#ffdd00;}
.comments-content .comment .avatar{width:60px;height:60px;margin:0 10px 10px 0;}
.comments-content .comment{background:#0f0f0f;padding:15px 0;border-bottom:1px solid #161616;}
.comments-content .comment:last-child{border-bottom:none;}
.comments-content .comment .nickname{color:#ffdd00;font-family:'ekibastus-original-black',sans-serif;}
.comments-content .comment p{color:#fff;margin-bottom:5px;text-transform:none;}
.comments-content .comment a{color:#ffff00;font-family:'ekibastus-original-light',sans-serif;}
#comment-form{background:#0f0f0f;padding:30px;}
#comment-form h3{color:#ffdd00;}
#comment-form p{font-family:'ekibastus-original-bold', sans-serif;color:#fff;}
#comment-form textarea{background:#161616;border:none;}
#comment-form button{border-radius:0;border:none;background:#ffdd00;color:#000;text-transform:uppercase;font-family:'ekibastus-original-black';font-size:18px;float:right;margin:15px 0;}
#comment-form button:hover{text-decoration: underline;}
#uLoginff6e3098 > div {text-align: center !important; width: 238px !important;}
#uLoginff6e3098 > div > div {margin: 0 2px 0 0 !important}
#uLogin_83a75edc > div {text-align: center !important; width: 238px !important;}
#uLogin_83a75edc > div > div {margin: 0 2px 0 0 !important}
#uLogin_6daabba3 > div {text-align: center !important; width: 238px !important;}
#uLogin_6daabba3 > div > div {margin: 0 2px 0 0 !important}
.activation-box p {color: #ffdd00}
.activation-box .form-control {width: 60%;float: left;border-radius:0;background:#1c1c1e;border:none;-webkit-box-shadow:inset 0 0 5px rgba(0,0,0,0.5);-moz-box-shadow:inset 0 0 5px rgba(0,0,0,0.5);box-shadow:inset 0 0 5px rgba(0,0,0,0.5);color:#fff;}
.activation-box .btn,.activation-box a {width: 40%;border-radius:0;background:#ffd256;background:-moz-linear-gradient(top, #ffd256 0%, #ffbc00 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd256), color-stop(100%,#ffbc00));background:-webkit-linear-gradient(top, #ffd256 0%,#ffbc00 100%);background:-o-linear-gradient(top, #ffd256 0%,#ffbc00 100%);background:-ms-linear-gradient(top, #ffd256 0%,#ffbc00 100%);background:linear-gradient(to bottom, #ffd256 0%,#ffbc00 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd256', endColorstr='#ffbc00',GradientType=0);font-family:'ekibastus-original-black', sans-serif;font-size:16px;color:#000;border:none;padding: 6px}
.activation-box a {float: right;}
.group-span-filestyle span.glyphicon {display: none !important;}
.msg p {font-size: 16px;text-align: center;}
.msg.error-message p {color: indianred;}
.msg.success-message p {color: lightgreen}
#tournament-table .table>tbody>tr>td {font-size: 12px !important;}
#results .table {font-size: 12px;}
.proposal .title {background: #ffbc00;color:#000;font-family:'ekibastus-original-light',sans-serif;text-align: left;padding: 5px 20px;font-size: 24px;margin-bottom: 0px}
.proposal .proposal-wrapper {background: rgba(0, 0, 0, 0.5);padding: 10px;}
.proposal .proposal-wrapper p {text-align: center;font-size: 18px;color:#fff;font-family:'ekibastus-original-light',sans-serif;}
.auction {position: relative;}
.auction h1.title, .auction h2 {text-align:left;color:#ffdd00;padding-left:15px;margin:0 0 25px 0;font-family:'ekibastus-original-black',sans-serif;padding-right: 175px;}
.free-trn-link {display: block;position: absolute;right: 15px;top: 60px;background: #ffcc00;color: #000;text-transform: uppercase;border: none;font-family:'ekibastus-original-heavy',sans-serif;padding: 5px 10px;}
#auction-ajax-view {display: none;}
.auction .grid-view {
    margin-bottom: 25px;
}

.auction .grid-view .lot {
    background: rgba(0, 0, 0, 0.7);
    margin-bottom: 1px;
    padding: 0 0 15px 0;
    min-height: 400px;
}

.auction .grid-view .lot h3 {
    text-align: center;
}
.auction .grid-view .lot h3 a {
    color: #fff;
    font-family: 'ekibastus-original-black',sans-serif;
    font-size: 16px;
}
.auction .grid-view .lot h3 a:hover {
    text-decoration: none;
}
.auction .grid-view .lot h3 a span.td-undr {text-decoration: underline;color: #fff}
.auction .grid-view .lot h3 a span {
    color: #ffbc00;
    text-decoration: none;
}

.auction .grid-view .lot .thumbnail {
    background-color: transparent;
    border: none;
    border-radius: 0;
    min-height: 120px;
    margin-bottom: 0;
}

.auction .grid-view .lot .thumbnail img {
    height: 120px;
    max-height: 120px;
}

.auction .grid-view .lot .until {
    color: #fff;
    font-size: 21px;
    text-transform: none;
    text-align: center;
}

.auction .grid-view .lot .until span {
    color: #ffbc00;
}

.auction .grid-view .lot .current-bet {
    color: #ffbc00;
    text-align: center;
    padding: 15px 0;
    font-size: 18px;
    text-transform: none;
}

.auction .grid-view .lot .current-bet span {
    font-family: 'ekibastus-original-black', sans-serif;
    color: #fff;
}

.auction .grid-view .lot .current-bet a,
.auction .grid-view .lot .current-bet span.owner-name {
    color: #ffbc00;
    font-family: 'ekibastus-original-light', sans-serif;
}

.auction .grid-view .lot .current-bet span i,
#lot-view .lot .current-bet i {
    font-size: 12px;
    font-style: normal;
    font-family: 'ekibastus-original-light', sans-serif;
}

.set-bet {
    padding: 0 20px;
}

.auction .grid-view .lot .set-bet input {
    background: #161616;
    border: none;
    box-shadow: inset -3px 3px 3px 3px rgba(0,0,0,0.5);
    min-height: 30px;
    text-align: center;
    color: #fff;
    margin-bottom: 5px;
}

.auction .grid-view .lot .set-bet button {
    background: #ffcc00;
    color: #000;
    text-transform: uppercase;
    border: none;
    font-family:'ekibastus-original-heavy',sans-serif;
    min-height: 30px;
}

.auction .grid-view button.list-more {
    font-size: 16px;
    color: #fff;
    background: transparent;
    border: none;
    width: 200px;
    margin: 15px auto;
    display: block;
}

.auction .tab-pane a {
    color: #ffdd00 !important;
}

table.finished-auctions thead tr th {
    text-align: center !important;
}

table.finished-auctions .sell-date,
table.finished-auctions .last-bet {
    color: #fff;
}

#lot-view .lot {
    background: rgba(0, 0, 0, 0.7);
    padding: 60px 50px 50px 50px;
    position: relative;
}

#lot-view .lot .lot-gallery .central-thumbnail {
    float: left;
    width: 270px;
    margin-right: 1px;
}

#lot-view .lot .lot-gallery .central-thumbnail img{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

#lot-view .lot .lot-gallery ul {
    list-style: none;
    padding: 0;
    width: 70px;
    float: left;
}

#lot-view .lot .lot-gallery ul li {
    display: block;
    margin: 1px 0;
}

#lot-view .lot .lot-gallery ul li:first-child {
    margin-top: 0;
}

#lot-view .lot .lot-gallery ul li img {
    width: 70px;
    height: 64px;
}

#lot-view .lot {
    color: #fff;
}

#lot-view .lot h2 {
    font-size: 18px;
    margin: 0 0 10px 0;
    padding: 0;
    color: #fff;
}

#lot-view .lot  span {
    color: #ffdd00;
}

#lot-view .lot .time-remain {
    font-size: 18px;
}

#lot-view .lot .bet {
    padding: 10px;
    border: 1px solid #ffdd00;
    margin: 10px 0;
}

#lot-view .lot .bet span {
    font-family: 'ekibastus-original-black', sans-serif;
}

#lot-view .lot .bet span a {
    color: #ffdd00;
}

#lot-view .lot .bet .current-bet,
#lot-view .lot .bet .bets-info {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

#lot-view .lot .bet .bets-info {
    margin-left: 30px;
}

#lot-view .lot .bet .set-bet {
    padding: 0;
    margin: 10px 0 0 0;
}

#lot-view .lot .bet .set-bet input {
    background: #161616;
    border: none;
    box-shadow: inset -3px 3px 3px 3px rgba(0,0,0,0.5);
    min-height: 30px;
    text-align: center;
    color: #fff;
    margin-bottom: 5px;
}

#lot-view .lot .bet .set-bet button {
    background: #ffcc00;
    color: #000;
    text-transform: uppercase;
    border: none;
    font-family:'ekibastus-original-heavy',sans-serif;
    min-height: 30px;
}

.tabs .tab-pane {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    text-transform: none;
}

.auction .tabs {
    margin-top: 1px;
}

.auction .tabs .nav-tabs {
    border-bottom: none;
}

.auction .tabs .nav-tabs>li>a {
    border-radius: 0;
    border: none;
    background: rgba(0, 0, 0, 0.7);
    margin-right: 0;
    border-right: 1px solid #000;
    color: #fff;
}

.auction .tabs .nav-tabs>li.active>a,
.auction .tabs .nav-tabs>li.active>a:focus,
.auction .tabs .nav-tabs>li.active>a:hover {
    background: rgba(0, 0, 0, 0.7);
    color: #ffdd00;
}

.lots-navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.lots-navigation a {
    color: #fff;
    font-size: 16px;
    position: absolute;
    top: 15px;
}

.lots-navigation a i {
    color: #ffdd00;
    font-size: 12px;
    text-transform: none;
}

.lots-navigation a.prev {
    left: 15px;
}

.lots-navigation a.next {
    right: 15px;
}

.auction .grid-view #expiredLots .lot a,
.auction .grid-view #expiredLots .lot a:hover {
    cursor: default !important;
    text-decoration: none !important;
}

.auction .grid-view #expiredLots .lot {
    min-height: 320px;
}

.free-game aside {
    background: none;
    padding: 0 0 0 15px;
}

.free-game .other-games .item {
    position: relative;
    display: block;
    margin-bottom: 25px;
}

.free-game .other-games .item:last-child {
    margin-bottom: 0;
}

.free-game .other-games .item img {
    width: 100%;
    max-width: 100%;
}

.free-game .other-games .item .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    display: none;
}

.free-game .other-games .item .caption > a{
    font-family: 'ekibastus-original-black', sans-serif;
    color: #fff;
    text-decoration: none;
    display: block;
    height: 100%;
    margin-top: -10px;
    padding: 20px 0;
}

.free-game .other-games .item .caption h4 {
    font-size: 24px;
    padding: 10px 0;
}

.free-game .other-games .item .caption i.go-to-game {
    background: #ffbc00;
    color: #000;
    display: block;
    padding: 5px 0;
    font-size: 18px;
    line-height: 18px;
    margin: 5px auto;
    width: 75%;
    font-style: normal;
}


#imagelightbox{position: fixed;z-index: 9999;-ms-touch-action: none;touch-action: none;}
.loading{position: fixed;width: 200px;height: 100px;top: 50%;left: 50%;margin-left: -100px;margin-top: -50px;display: none}
.checkout-form {
    padding: 0;
    background: rgba(0, 0, 0, 0.7);
    position: relative;
}
.checkout-form h2 {
    background: #ffbc01;
    color: #000;
    margin: 0;
    padding: 10px;
    font-size: 21px;
}

.checkout-form h2 span {
    padding: 0 0 0 20px;
}

.checkout-form h3 {
    color: #fff;
    font-size: 16px;
    text-transform: none;
    text-align: left;
    margin-top: 20px;
}

.checkout-form form {
    width: 635px;
    display: block;
    margin: 20px auto;
}

.checkout-form form input.valid,
.checkout-form form input.ok,
.checkout-form form textarea.ok,
.checkout-form form textarea.valid {
    border: 1px solid green !important;
    background: #303030 url("/images/ok.png") no-repeat right 10px center !important;
}

.checkout-form form input.error,
.checkout-form form textarea.error {
    border: 1px solid red !important;
    background: #303030 url("/images/error.png") no-repeat right 10px center !important;
}

.checkout-form form .form-group > div {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.checkout-form form input[type='text'] {
     background-color: #303030;
     font-size: 16px;
     color: #fff;
     padding: 15px 20px;
     border: none;
     box-shadow: inset 3px 3px 3px 0 rgba(0,0,0,0.7);
     margin-bottom: 15px;
     width: 100%;
}

.checkout-form form textarea {
    background: #303030;
    font-size: 16px;
    color: #fff;
    padding: 15px 20px;
    border: none;
    box-shadow: inset 3px 3px 3px 0 rgba(0,0,0,0.7);
    margin-bottom: 15px;
    width: 100%;
}

.checkout-form form .col-sm-6 {
    width: 48.5%;
    margin: 0;
}

.checkout-form form .col-sm-6.sm-left {
    margin-right: 19px;
    margin-bottom: 19px;
}

.checkout-form form button {
    border: none;
    background: #ffdd00;
    color: #000;
    font-size: 22px;
    padding: 0px 20px;
    font-family: 'ekibastus-original-black', sans-serif;
    float: right;
    margin: 20px 0;
}

.checkout-form #actual_address {
    display: block;
}

.checkout-form #infos {
    width: 635px;
    margin: 0 auto;
}

.checkout-form #infos h3 {
    font-size: 24px;
    font-family: 'ekibastus-original-light', sans-serif;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.checkout-form #infos p {
    font-size: 16px;
    color: #ffdd00;
}

.checkout-form #infos p strong {
    color: #fff;
    font-family: 'ekibastus-original-bold', sans-serif;
}

.steps-nav {
    color: #000;
    text-decoration: none;
    font-size: 14px;
    display: block;
    position: absolute;
}

.steps-nav:hover {
    text-decoration: none;
}

.steps-nav.next {
    right: 10px;
    top: 12px;
}

.steps-nav.prev {
    left: 10px;
    top: 12px;
}

.fio-error-message {
    display: none;
}

.user-profile {
    background: rgba(0, 0, 0, 0.75);
}

.user-profile h1 {
    background: #ffbc00;
    color: #000;
    text-shadow: none;
    font-size: 21px;
    padding: 7px 0;
    text-align: center;
    margin: 0;
}

.user-profile section {
    padding: 25px 10px;
}

.user-profile img {
    float: left;
    margin-right: 20px;
}

.user-profile tr:first-child td {
    padding-top: 0;
}

.user-profile tr td {
    font-size: 18px;
    padding: 8px 0 8px 10px;
}

.user-profile td.vip {
    padding-right: 20px;
}

.user-profile td span {
    color: #ffbc00;
}

.user-profile td .coin {
    display: inline-block;
    color: #ffdd00;
    padding: 0 0 0 30px;
    background: url("/images/coin.png") no-repeat left center;
    -webkit-background-size: 25px 25px;
    background-size: 25px 25px;

}

.user-profile td.level span {
    display: inline-block;
    color: #fff;
    border: 1px solid #ffbc00;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 7px;
}

.user-profile td.email {
    position: relative;
    width: 400px;
}

.user-profile td.email span {
    font-size: 12px;
}

.user-profile td.email .einfo {
    font-style: normal;
}

.user-profile .settings-link {
    position: relative;
    top: -20px;
    left: 3px;
    color: #77e1ff;
    text-decoration: underline;
}

.user-profile .settings-link:hover {
    text-decoration: none;
}

.user-part-info .nav-tabs>li {
    border: none;
    width: 33.3333%;
    background:#242a2b;background:-moz-linear-gradient(top, #242a2b 0%, #07151d 63%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#242a2b), color-stop(63%,#07151d));background:-webkit-linear-gradient(top, #242a2b 0%,#07151d 63%);background:-o-linear-gradient(top, #242a2b 0%,#07151d 63%);background:-ms-linear-gradient(top, #242a2b 0%,#07151d 63%);background:linear-gradient(to bottom, #242a2b 0%,#07151d 63%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#242a2b', endColorstr='#07151d',GradientType=0);
}

.user-part-info .nav-tabs>li:last-child>a {
    border-right: none;
}

.user-part-info .nav-tabs>li:first-child>a{
    border-left: none;
}

.user-part-info .nav-tabs>li>a {
    border-radius: 0;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    border: none;
    border-left: 1px solid #000000;
    border-right: 1px solid #333c41;
    margin-right: 0;
    text-align: center;
    font-size: 16px;
    font-family: "ekibastus-original-black", sans-serif;
}

.user-part-info .nav-tabs>li.active>a,
.user-part-info .nav-tabs>li.active>a:focus,
.user-part-info .nav-tabs>li.active>a:hover {
    background: #0a67a3 !important;
    color: #fff;
    border-top: none;
    border-bottom: none;
    border-left: 1px solid #000000;
    border-right: 1px solid #333c41;
}

.user-part-info .nav-tabs>li.active:first-child>a {
    border-left: none;
}
.user-part-info .nav-tabs>li.active:last-child>a {
    border-right: none;
}

.user-part-info .nav-tabs>li>a:hover {
    background: #0a67a3;

}

.user-part-info .nav-tabs {
    border-bottom: none;
}

.user-part-info .table th {
    color: #e5f785;
    font-size: 18px;
    font-family: 'ekibastus-original-bold', sans-serif;
}

.user-part-info .table thead tr {
    border-bottom: 1px solid #000;
}

.user-part-info .table tbody tr:first-child {
    border-top: 2px solid #242d32;
}

.user-part-info .table tbody tr {
    border-bottom: 1px solid #242d32;
    border-top: 1px solid #000;
}

.user-part-info .table tbody tr:last-child {
    border-bottom: none;
}

.user-part-info .table tbody tr td {
    padding: 15px 0;
}

.user-part-info .table.pays span.other {
    color: #fff;
}

.user-part-info .tab-pane a {
    text-align: center;
    display: block;
    text-decoration: underline;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
}

.user-part-info .tab-pane a:hover {
    text-decoration: none;
}

.user-profile .fileform {
    border-radius: 2px;
    cursor: pointer;
    position: relative;
    vertical-align: middle;
    margin: 28px 0 0 0 !important;
}

.user-profile .fileform img {
    width: 92px;
    height: 92px;
}

.user-profile .fileform .selectbutton {
    color: #77e1ff;
    text-decoration: underline;
    text-align: center;
    display: block;
}

.user-profile .fileform #avatar{
    position:absolute;
    top:0px;
    left:15px;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    z-index:20;
    width: 92px;
    height: 112px;
    cursor: pointer;
}

.user-profile .fileform #fileInputName{
    width: 100%;
    margin-top: 5px;
}

.user-profile .change-form {
    position: absolute;
    top: 6px;
    left: 68px;
    display: none;
}
.user-profile .change-form .form-validate p.error {
    font-size: 12px;
}

.user-profile .change-form .form-group {
    float: left;
    margin-right: 5px;
}

.user-profile .change-form input {
    background: #303030;
    -webkit-box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.5);
    box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.5);
    border: none;
    padding: 6px 10px;
    margin-bottom: 5px;
    font-size: 14px;
}

.user-profile .change-form button {
    border: none;
    background: #ffdd00;
    color: #000;
    font-size: 22px;
    padding: 1px 5px;
    font-family: 'ekibastus-original-black', sans-serif;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    position: relative;
    top: 0;
    display: none;
}

.user-edit input {
    background: #303030;
    -webkit-box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.5);
    box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.5);
    border: none;
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 5px;
}

.user-edit p {
    font-size: 20px;
    margin: 0;
}

.user-edit input[type='submit'] {
    border: none;
    background: #ffdd00;
    color: #000;
    font-size: 22px;
    padding: 0px 20px;
    font-family: 'ekibastus-original-black', sans-serif;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    position: relative;
    top: 29px;
}

.user-edit input[type='submit']:hover {
    text-decoration: underline;
}

.user-edit .form-group {
    margin: 10px 0 0 0;
}

.final-registration {
    width: 360px;
    display: block;
    margin: 0 auto;
}

.final-registration button {
    border: none;
    background: #ffdd00;
    color: #000;
    font-size: 22px;
    padding: 0px 20px;
    margin: 25px auto;
    display: block;
    text-align: center;
    font-family: 'ekibastus-original-black', sans-serif;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.final-registration button:hover {
    text-decoration: underline;
}

.final-registration button:focus {
    outline: none;
}

.page-description p {
    color: #fff;
    font-size: 14px;
    text-transform: none;
}

.handbook-menu > ul {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}

.handbook-menu > ul{list-style:none;padding:0;}
.handbook-menu > ul > li{width:100%;float:left;display:block;background:#242a2b;background:-moz-linear-gradient(top, #242a2b 0%, #07151d 63%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#242a2b), color-stop(63%,#07151d));background:-webkit-linear-gradient(top, #242a2b 0%,#07151d 63%);background:-o-linear-gradient(top, #242a2b 0%,#07151d 63%);background:-ms-linear-gradient(top, #242a2b 0%,#07151d 63%);background:linear-gradient(to bottom, #242a2b 0%,#07151d 63%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#242a2b', endColorstr='#07151d',GradientType=0);border-bottom:5px solid #0a67a3;}
.handbook-menu > ul > li.active-page{background:#0a67a3;}
.handbook-menu > ul > li > a{font-family:"ekibastus-original-black", sans-serif;font-size:14px;color:#fff;display:block;padding:15px 25px;-webkit-transition:all 0.5s ease-out 0.1s;-moz-transition:all 0.5s ease-out 0.1s;-o-transition:all 0.5s ease-out 0.1s;transition:all 0.5s ease-out 0.1s;}
.handbook-menu > ul > li > a:hover{background:#0a67a3;}
.handbook-menu > ul > li.active-page a:hover, .handbook-menu > ul > li.active-page > a:focus{text-decoration: none;cursor: default;}
.handbook-menu > ul ul {list-style:none;padding:0;}

.handbook-menu > ul ul li {
    border-top: 1px solid #fff;
}

.handbook-menu > ul ul li a {
    color: #fff;
    text-align: center;
    display: block;
    width: 100%;
    padding: 5px 0;
    cursor: pointer !important;
}

.handbook-menu > ul ul li a:hover {
    text-decoration: underline !important;
}

.handbook-adviser {
    position: fixed;
    bottom: -175px;
    right: 20px;
    cursor: pointer;
}
.handbook-adviser .reference {
    width: 120px;
    height: 27px;
    text-indent: -9999px;
    background: url("/images/reference.png") no-repeat;
}

.handbook-adviser img {
    width: 120px;
    height: auto;
}

.pagination {
    display: block;
    margin: 0 auto;
    text-align: center;
    float: right;
}

.pagination>li>a, .pagination>li>span {
    background: #ffbc00;
    border: none;
    color: #000;
}

.pagination .disabled {
    display: none;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background: #131313;
    color: #ffbc00;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    background: #131313;
    color: #ffbc00;
}

@media (min-width:1000px) and (max-width:1199px){#header .top .logo span{font-size:10px;}}
@media (min-width:1200px){.container{width:1030px;}.footer.container{width:1000px;} .soon img{height: 175px !important} }
@media (max-width:1199px){.menu ul li{float:none;display:block;border-left:none;border-right:none;width:100%;text-align:center;}.menu ul li a.home{width:100%;}.footer{text-align:center;}.footer-menu{padding-top:15px;}html, body{background-attachment:inherit;}.news-and-blog .blog .blog-post .caption .title a{font-size:26px;}}
@media (max-width:1000px){
    .tournaments .super {height: 300px;}.tournaments .super .game-wrapper {min-height: 250px;}.tournaments .super .scl {width: 138px;  height: 250px;}.tournaments .super .scl.left-column-info .game-title{font-size:21px;}.tournaments .super .scl.right-column-info .start-info strong {font-size:12px}.tournaments .super .scl.right-column-info .start-info {margin-bottom: 10px;}.tournaments .super .scl.right-column-info .timer {margin-top: 10px;}.tournaments .super .scl.right-column-info .timer{font-size:18px;}.tournaments .super .scl.right-column-info .timer .flip-clock-wrapper ul li a div div.inn {font-size: 13px;}.tournaments .super .scl.right-column-info .timer .flip-clock-wrapper ul {width: 9px;}.tournaments .super .scl.right-column-info .timer .flip-clock-dot.top {top: 8px;}.tournaments .super .scl.right-column-info .timer .flip-clock-dot.bottom {bottom: 8px;}.tournaments .super .scl.right-column-info .timer .flip-clock-dot {width: 3px;height: 3px;}.tournaments .speed .carousel .item > div .caption{min-height:194px;}#header .top nav.registration-menu{padding:20px 0;border-bottom:none;}#header .top .logo span{font-size:10px;top:10px;}#header .top .call-number{font-size:24px;font-family:'ekibastus-original-black', sans-serif;padding-top:14px;}#header #user-account,#header #user-account p{text-align:center;}#header #user-account .get-money{margin:0 auto;}.news-and-blog .news{padding-right:15px;}.news-and-blog .blog{padding-left:15px;}.sort{right:15px;}.footer{height:auto;min-height:inherit;}.tournaments .super .scl.right-column-info h3{font-size: 14px;}.tournaments .super .scl.right-column-info .start-info{padding: 10px 0;}
    .nav-tabs>li {
        float: left;
        margin-bottom: -1px;
        width: 100%;
        text-align: center;
    }
    #lot-view .lot .lot-gallery .central-thumbnail {
        width: 100%;
        float: none;
    }
    #lot-view .lot .lot-gallery .central-thumbnail img {
        max-width: 100%;
    }
    #lot-view .lot .lot-gallery ul {
        width: 215px;
        display: block;
        margin: 0 auto 25px auto;
        float: none;
    }
    #lot-view .lot .lot-gallery ul li {
        float: left;
        margin: 0 0 0 1px;
        text-align: center;
    }
    #lot-view .lot .bet .set-bet input {
        width: 39%;
    }
    #lot-view .lot .bet .set-bet button {
        width: 59%;
        display: inline-block;
    }
    .free-game aside {
        padding: 0;
        min-height: inherit;
        margin: 15px 0 0 0;
    }
    .free-game aside .other-games {
        margin: 0;
    }
    .free-game .other-games .col-sm-4 {
        width: 32.33333333%;
        margin-right: 1.33333%;
    }
    .free-game .other-games .item:last-child {
        margin-right: 0;
    }
    .free-game .other-games .item .caption {
        display: block;
    }
}
@media (max-width:1024px) and (min-width:1000px){#header .top .logo span{font-size:10px;}}
@media (min-width:768px){
    .game-page .prizes .prizes-wrap > div.col-md-2-4 {
        padding: 0;
        background: rgba(0, 0, 0, 0.75);
        height: 40px;
        width: 20%;

    }
    .modal-dialog{width:320px;margin:30px auto;}.soon img, .game-goods img, .other-games img {max-height: 250px;}.auction .grid-view .lot{margin-right: 1px;}.auction .grid-view .col-sm-4 {width: 33.13333333%;}
    .checkout-form form .col-sm-6 {
        width: 48.5%;
        margin: 0;
    }
    .checkout-form form .col-sm-3 {
        width: 22.7%;
        margin: 0 19px 0 0;
    }

    .checkout-form form .col-sm-3.last{
        margin-right: 0;
    }

    .news-and-blog .news .news-post {
       height: 192px;
    }

    .post-thumbnail {
        max-width: 400px;
    }
}
@media (min-width:768px) and (max-width:1024px){#header #user-account p,#header #user-account p a{font-size:10px;}#header #user-account p span{font-size:12px;}.comments-content .comment .avatar{width:70px;height:70px;margin:0 10px 10px 0;}.tournaments .speed .item img{height: 250px}}
@media (max-width:768px) {
    .lots-navigation {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    .lots-navigation a {
        color: #fff;
        font-size: 16px;
        position: relative;
        top: 0;
        display: block;
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    .lots-navigation a i {
        color: #ffdd00;
        font-size: 12px;
        text-transform: none;
        left: 0;
        right: 0;
    }

    #lot-view .lot {
        padding-top: 100px;
    }

    .checkout-form #infos,
    .checkout-form form {
        width: 100%;
    }

    .post-thumbnail {
        max-width: 100%;
    }

}
@media (max-width:480px){
    .tournaments .super .game-wrapper .timer{margin-top:5px;margin-bottom:5px;}
    .tournaments .super .game-wrapper a{margin-bottom:5px;}
    .game-page .countdown{margin-bottom:50px;clear:both;}
    .game-page .countdown p{text-align:center;width:100%;float:none;}
    .game-page .countdown .countdown-wrap{width:234px;text-align:center;float:none;margin:0 auto;}
    .game-page .countdown .countdown-wrap .flip-clock-label{color:#fff;}
    .game-page .repost p{padding:0;}
    .comments-content .comment .avatar{width:70px;height:70px;margin:0 10px 10px 0;}
    .free-trn-link {
        position: relative;
        left: 0;
        top: 0;
        text-align: center;
        width: 90%;
        margin: 0 auto;
    }
    .auction h1.title, .auction h2 {
        padding-right: 0;
    }
    #lot-view .lot {
        padding: 100px 0 0 0 ;
    }
    .free-game .other-games .col-xs-12 {
        width: 100% !important;
    }
}
@media (min-width: 992px) {
    .auction .grid-view .col-md-3 {
        width: 24.9%;
    }
}
