.rslides{position:relative;list-style:none;overflow:hidden;width:100%;padding:0;margin:0;}
.rslides li{-webkit-backface-visibility:hidden;position:absolute;display:none;width:100%;left:0;top:0;}
.rslides li:first-child{position:relative;display:block;float:left;}
.rslides img{display:block;height:auto;float:left;width:100%;border:0;}
.rslides_nav{width:50px;height:50px;display:block;position:absolute;background:url("/images/icons/slider-navs-icon-colorless.png") no-repeat;z-index:10;text-indent:-9999px;-webkit-transition:all 0.5s ease-out 0.1s;-moz-transition:all 0.5s ease-out 0.1s;-o-transition:all 0.5s ease-out 0.1s;transition:all 0.5s ease-out 0.1s;}
.rslides_nav:focus{outline: none}
.rslides_nav:hover{background:url("/images/icons/slider-navs-icon.png") no-repeat;}
.rslides_nav.prev{top:0;right:65px;background-position:0 0;}
.rslides_nav.next{top:0;right:15px;background-position:-50px 0;}
.rslides_tabs {
    position: absolute;
    bottom: 10px;
    left: 15px;
    z-index: 100;
}
.rslides_tabs li {
    float: left;
}
.rslides_tabs li a {
    background: url("/images/main_slider_paging.png") no-repeat;
    width: 21px;
    height: 21px;
    display: block;
    text-indent: -9999px;
}

.rslides_tabs li a:hover,
.rslides_tabs li.rslides_here a {
    background-position: -21px 0;
}

@media (max-width:480px){.rslides_nav{width:25px;height:25px;-webkit-background-size:50px 25px;background-size:50px 25px;}
.rslides_nav.prev{right:40px;}
.rslides_nav.next{background-position:-25px 0;}
.rslides_nav:hover{background:url("/images/icons/slider-navs-icon.png") no-repeat;-webkit-background-size:50px 25px;background-size:50px 25px;}
.rslides_nav.prev:hover{background-position:0 0;}
.rslides_nav.next:hover{background-position:-25px 0;}
}