body{
    font-family: 'Open Sans', sans-serif !important;
}

.button-group {
    float: right;
    margin: 20px 0;
}

#tournament-manager .active-tournament .item img {
    max-width: 100%;
}

#tournament-manager .active-tournament .item h3 {
    color: #2679b5;
    font-size: 18px;
}

#tournament-manager form button {
    float: right;
}

.clearfix {
    clear: both;
}
